/* Fondo en gradiente y estilo general */
body {
    background: linear-gradient(135deg, #000000, #00aaff, #0033ff); /* Gradiente negro a celeste y azul */
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para el header */
header {
    background: linear-gradient(135deg, #02afbf, #86057b, #050606); /* Gradiente azul a celeste */
    color: #a8f908;
    padding: 30px 15px; /* Más espacio en el header */
    text-align: center;
}

header h1 {
    font-size: 2.0rem; /* Tamaño de fuente grande para el título */
    margin-bottom: 10px;
}

header p {
    font-size: 1.25rem; /* Tamaño de fuente más grande para el subtítulo */
}

/* Estilo para el contenedor del video y la imagen */
.container {
    display: flex;
    justify-content: space-between; /* Distribuye espacio entre el video y la galería */
    align-items: flex-start; /* Alinea el video y la imagen en la parte superior */
    margin: 20px auto;
}

#video-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

video {
    width: 100%;
    max-width: 800px; /* Ajusta el tamaño del video aquí */
    height: auto;
}

#image-gallery {
    flex: 1;
    margin-left: 20px; /* Espacio entre el video y la galería */
}

#gallery-image {
    width: 100%; /* Hace que la imagen ocupe el 100% del contenedor */
    height: 100%; /* Altura del contenedor */
    object-fit: cover; /* Recorta la imagen para llenar el contenedor */
    border-radius: 10px; /* Bordes redondeados opcional */
}

/* Opcional: estilo para el contenedor de la imagen */
#image-container {
    width: 100%; /* Hace que el contenedor ocupe el 100% del espacio disponible */
    max-width: 800px; /* Tamaño máximo del contenedor */
    height: 500px; /* Altura fija para el contenedor */
    overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
    border-radius: 10px; /* Bordes redondeados opcional */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Estilo para el cuadro de citas */
.quote-box {
    background-color: rgba(230, 64, 202, 0.8); /* Fondo blanco con opacidad */
    color: #333;
    border-radius: 8px;
    padding: 15px;
    margin: 10px auto;
    max-width: 500px;
    font-size: 1.2rem;
}

#quote {
    font-style: italic;
    margin: 0;
}

/* Estilo para el botón de reproducción */
#play-button {
    display: block;
    margin: 10px auto;
    background-color: #1261f3;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#play-button:hover {
    background-color: #081a1a;
}
